*{/* toda a página*/
    margin:0px;
    padding: 0px;
    font-family: Arial;
}

body{
    background-color: rgb(247, 209, 113);/* cor do fundo */
    color: rgb(68, 3, 68);
}

/*-----------------------------------------------------------------------------------NAVBAR---------------------------*/

header{
    background-color: rgb(214, 172, 66);/* cor do fundo */
    height:60px;
}

.container{
    width: 800px;
    margin:0px auto;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(214, 172, 66);
    color: rgb(68, 3, 68);
    padding: 20px 50px;
    float: left;
}

a:hover{
    background-color: rgb(185, 144, 40);
}

.pesquisa{ 
    
    right: 0px;
}

/*------------------------------------------------------------------------------------MEIO----------------------------*/
.meio{
    background-color: rgb(185, 144, 40);/* cor do fundo */
    min-height:200px;
}

.divum {
    background-color: rgb(185, 144, 40);/* cor do fundo */
    min-height: 200px;
    width: 70%;
    float: left;
}
  
.divdois {
    background-color: rgb(163, 125, 28);/* cor do fundo */
    min-height: 200px;
    width: 30%;
    float: right;
}

/*------------------------------------------------------------------------------------RODAPÉ--------------------------*/

footer{
    clear: both;/*SEMPRE UTILIZAR DEPOIS DE FLOAT*/
    background-color: rgb(114, 86, 17);/* cor do fundo */
    height:50px;
}




